#app-container {
    background: rgba(7, 49, 49, 0.808);
    max-width: 800px;
    margin: 30px auto;
    overflow: hidden;
    border: 2px solid rgb(68, 65, 65);
    border-radius: 5px;
    padding: 15px;
}

#app-header {
    position: absolute;
    margin: 50px 265px;
    text-align: center;
}

#added-task {
    float: left;
    width: 40%;
}

#completed-task {
    float: right;
    width: 48%;
}

#add-task {
    background-color: rgb(6, 129, 68);
    color: white;
    border: 0px;
    padding: 8px;
    cursor: pointer;
    margin-left: 10px;
    font-family: Monaco;
    font-size: 15px;
    border-radius: 5px;
}

.box {
  padding: 10px 15px;
  border: 2px solid #b1c9bb;
  border-radius: 5px;
  background: rgba(235, 233, 233, 0.842);
  margin: 15px 0;
}

.delete {
    background-color: brown;
    color: white;
    border: 0px;
    padding: 4px;
    cursor: pointer;
    margin-left: 10px;
    font-family: Monaco;
    font-size: 15px;
}

.form-container {
    text-align: center;
    font-family: Monaco;
}

li{
    list-style: none;
    padding: 3px ;
    border-bottom: 1px dotted #b1c9bb;
    font-family: Monaco;
}
ul{
    padding-left: 0px;
}
h2 {
    padding: 3px;
    font-family: Monaco;
    text-transform: uppercase;
    text-align: center;
    margin: 5px 0px;
}

label {
    margin-left: 3px;
}